<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <!-- Navbar -->
    <div class="container-shared-background">
        <nav class="navbar navbar-expand-lg nav-trans">
            <div class="container-fluid">
                <div class="collapse navbar-collapse" id="navbarNav">
                    <a class="navbar-brand" href="#">
                        <img src="images/Logo.png" alt="Logo" width="270" height="66"
                            class="d-inline-block align-text-top">
                    </a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/Customer">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page"
                                href="/fasilitas">Fasilitas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="/sewa">Sewa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- landing page -->
        <header class="header py-5">
            <div class="container landingpage px-1 pb-5">
                <div class="row align-items-center">
                    <div class="col-xxl-5">
                        <div class="text-center text-xxl-start">
                            <div class="fw-bolder mb-5"><span class="text-m5 text-white d-inline">M5</span></div>
                            <div class="text-center text-xxl-start div-text-kos">
                                <span class="text-white text-kos">KOS - KOSAN</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-7">
                        <!-- Header text content-->
                        <div class="text-center div-text-penjelasan text-xxl-start">
                            <div class=""><span class="text-white d-inline text-penjelasan">Lorem ipsum dolor sit amet
                                    consectetur adipisicing elit. Quis, aliquid? Odit incidunt animi corrupti ipsum
                                    excepturi hic, fugit cum eveniet obcaecati corporis quis dolore fuga voluptatum
                                    necessitatibus recusandae officiis esse ducimus quod? Debitis cupiditate voluptate
                                    sunt voluptatum nobis sit voluptatem commodi dolorum consectetur suscipit odit
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <a class="px-5  btn btn-outline-light align-items-center" href="#tipekosan">Cari Tahu</a>
            </div>
        </header>
    </div>
    <!-- tipe kosan -->
    <section id="tipekosan" class="tipe-kosan text-white py-3">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <h2>Tipe Kosan</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis molestiae magni doloremque.
                        Error rerum eligendi pariatur animi consequuntur provident sapiente?</p>
                </div>
            </div>
        </div>
    </section>
    <!-- kelebihan -->
    <div class="container-fluid">
        <div class="row bg-white justify-content-center">
            <div class="col-12 text-center">
                <h2 class="kelebihan-text pt-2 pb-2">Kelebihan</h2>
            </div>
        </div>
    </div>
    <section id="kelebihan" class="kelebihan py-2 pb-5 ">
        <div class="container-fluid">

            <div class="row mt-5 justify-content-center">
                <div class="col-md-3 text-center bg-white rounded p-5">
                    <img src="images/lingkungan.jpg" alt="Image 1" class="kelebihan img-fluid">
                    <h1 class="kelebihan-text">Lingkungan</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste repudiandae libero neque,
                        reprehenderit est odio fugit et praesentium ipsa in.</p>
                </div>
                <div class="col-md-3 mx-5 text-center bg-white rounded p-5">
                    <img src="images/keamanan.jpg" alt="Image 2" class="kelebihan img-fluid">
                    <h1 class="kelebihan-text">Keamanan</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, repellendus!</p>
                </div>
                <div class="col-md-3  text-center bg-white rounded p-5">
                    <img src="images/kebersihan.jpg" alt="Image 3" class="kelebihan img-fluid">
                    <h1 class="kelebihan-text">Kebersihan</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, repellendus!</p>
                </div>
            </div>


        </div>
    </section>

    <!-- info dan lokasi -->
    <div class="container">
        <div class="row">
            <div class="col-md-5 rounded maps p-5 box-informasi shadow-lg">
                <div class="text-white text-center p-3 mb-3 shadow-lg rounded text-box-informasi">
                    <h1 class="text-informasi">Informasi</h1>
                </div>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3963.3824304909112!2d106.80353237525337!3d-6.599303864511787!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69c5dad33fcb67%3A0xcb429e4d42da0a09!2sJl.%20Prof.%20DR.%20H.%20Andi%20Hakim%20Nasoetion%20No.7%2C%20RT.02%2FRW.05%2C%20Tegallega%2C%20Kecamatan%20Bogor%20Tengah%2C%20Kota%20Bogor%2C%20Jawa%20Barat%2016129!5e0!3m2!1sid!2sid!4v1713871710456!5m2!1sid!2sid"
                    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-6 mx-5 rounded box-informasi  informasi-jarak">
                <div class="text-white text-center mt-5 p-3 text-informasi rounded">
                    <h1>Informasi</h1>

                </div>
                <!-- pinpoin lokasi -->
                <div class="container mt-2 mx-5 text-white">
                    <div class="row">
                        <div class="col-md-2 mt-1 d-flex align-items-center">
                            <img src="images/pinpoin.png" class="" width="70%" alt="">
                        </div>
                        <div class="col-md-10 mb-3 nama-toko mt-3  ">
                            <p>Circle K</p>
                            <div>
                                <p>Jarak 0km dari kos - kosan M5</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- pinpoin lokasi -->
            </div>
        </div>
    </div>

    <!-- gambar geser geser -->

    <div class="logos container-fluid my-5 p-5">
        <div class="logos-slide">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
        </div>
        <div class="logos-slide">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
            <img src="images/carrousel-1.png" alt="">
        </div>
    </div>

    <!-- komentar -->

    <div class="container text-dark">
        <h1 class="kelebihan-text mt-5">Komentar</h1>
        <div class="comment-container bg-white rounded mt-4">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img src="images/avatar1.png" alt="Avatar">
                </div>
                <div class="col-md-10">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum non tenetur fugiat iure est ut
                        voluptatibus officiis provident corporis ex rem perspiciatis, perferendis quas, sed aspernatur
                        eum! Eos, consequuntur laboriosam.</p>
                </div>
            </div>
        </div>
        <div class="comment-container bg-white rounded mt-4">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img src="images/avatar1.png" alt="Avatar">
                </div>
                <div class="col-md-10">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum non tenetur fugiat iure est ut
                        voluptatibus officiis provident corporis ex rem perspiciatis, perferendis quas, sed aspernatur
                        eum! Eos, consequuntur laboriosam.</p>
                </div>
            </div>
        </div>
        <div class="comment-container bg-white rounded mt-4">
            <div class="row align-items-center">
                <div class="col-md-2 d-flex justify-content-center align-items-center">
                    <img src="images/avatar1.png" alt="Avatar">
                </div>
                <div class="col-md-10">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum non tenetur fugiat iure est ut
                        voluptatibus officiis provident corporis ex rem perspiciatis, perferendis quas, sed aspernatur
                        eum! Eos, consequuntur laboriosam.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <!-- Remove the container if you want to extend the Footer to full width. -->
    <div class="mt-5">
        <footer style="background-color: #283618;">
            <div class="container p-5">
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <h5 class="mb-3 text-white" style="letter-spacing: 2px;">KONTEN</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1  text-white">
                                <a href="#!" class="list-footer text-white">Kos - kosan Profile</a>
                            </li>
                            <li class="mb-1  text-white">
                                <a href="#!" class="list-footer text-white">Fasilitas</a>
                            </li>
                            <li class="mb-1  text-white">
                                <a href="#!" class="list-footer text-white">Sewa</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 mb-4">
                        <h5 class="mb-3 text-white" style="letter-spacing: 2px;">Kontak Informasi</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1  text-white">
                                <a href="#!" class="list-footer text-white">Kos - kosan Profile</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.2);">
                <img src="images/Logo.png" width="10%" alt=""> Copyright © 2024 SYNAPSE All rights reserved.
            </div>
            <!-- Copyright -->
        </footer>

    </div>
    <!-- End of .container -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</body>

</html>